@import 'variables';

:export {
  // Colors
  color_fueled_red: $color_fueled_red;
  color_fueled_white: $color_fueled_white;
  color_dark_grey: $color_dark_grey;
  color_black: $color_black;
  color_white: $color_white;
}
